@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Work+Sans&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;

}

html{
  font-size: 75%;
}

:root {
 /*   color: rgb(46, 45, 56);
 color: rgb(96, 101, 123); */
  --main-color:rgb(96, 101, 123);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  margin-top: 50px;
  height: auto;
  width: 75%;
}

h2 {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  color: rgb(46, 45, 56);
}

.para {
  margin-top: 25px;
  text-align: center;
  font-size: 1.2rem;
 
  color: rgb(96, 101, 123);
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  
}

textarea {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  height: 250px;
  position: relative;
  font-size: 1.1rem;
  box-shadow: 0 12px 48px 0px rgb(109 117 141/ 20%) ;
  border: 0.5px solid rgb(231, 233, 245);
  outline: none;
  resize: none;
}

button{
  background: rgb(17, 166, 131);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
  display: flex;
  margin: auto;
  position: relative;
  margin-top: -45px;
  cursor: pointer;
}


.counter{
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.counter p{
  font-size: 1.3rem;
  color: var(--main-color);
  font-weight: 300;
  margin: 10px 0;
  letter-spacing: 2px;
}
